html {
	background-color: #000;
	color: #BBB;
	font-family:'Verdana', serif;
}

body{
	margin: 0px;
}

a{
	color: #D3D3D3;
}

p{
	line-height: 160%;
	text-align: justify;
}

img{
	vertical-align: middle;
	border: 0;
}

.main_bg{
	position: relative;
	width: 100%;
}

.content{
	line-height: 160%;
	width: 1000px;
	margin: 0px auto;
}

	.content h1{
		color: #0F0;
	}

	.content h4{
		color: #0F0;
	}

.header_container{
	width: 100%;
	padding: 0px 2px;
	height: 48px;
	background-color: #000;
	display: block;
	border-bottom: 2px solid #0F0;
	z-index: 999;
}

.header{
	width: 95%;
	margin: 0px auto;
}

.footer{
	width: 100%;
	display: block;
	height: 50px;
	z-index: 999;
	background-color:#000;
	border-top: 2px solid #0F0;
	bottom: 0px;
}

.footer_content{
	width: 800px;
	margin: 0px auto;
	padding: 2px;
}

.horizontal_section{
	position: relative;
	width: 100%;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; 
    z-index: 999;
}

.left{
	display: block;
	float: left;
	position: relative;
}

.right{
	float: right;
}

.anchor{
	display: block; 
	position: relative; 
	top: -50px; 
	visibility: hidden
}

nav{
	background: #000;
	font-weight: bold;
	right: 0px;
	display: inline-block;
	position: absolute;
	width: 500px;

}

	nav ul {
		padding: 0;
		width: 500px;
		margin: 0 auto;
		height: 48px;
	}

	nav ul li {
		display: inline-block;
	}

	.menu-button {
		color: #FFF;
		padding: 0px 20px;
		display: inline-block;
		text-align: center;
		text-decoration: none;
		line-height: 50px;
	}

		.menu-button:hover {
			background-color: #0F0;
			color: #000;
		}

		nav button#pull {
			display: none;
		}

@media screen and (max-width : 900px) {

	nav {
		border-bottom: 0;
		width: 50px;
	}

	nav ul {
		display: none;
		height: 48px;
	}
	
	nav button#pull {
		display: block;
		/*background-color: #000;
		width: 100px;
		position: relative;*/
	}

	nav a#pull:hover{
		background-color: #0F0;
		color: #000;
	}

	nav button#pull:after {
		content:"";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

.resize{

}

#main_section_2{
	/*background-image: url('../img/ted_contemplate.png');
	background-repeat: no-repeat;
	position: fixed !important
	position: absolute;
	background-size: auto 100%;
	background-position: 0% 0%;
	overflow: hidden;*/
	top: 50;
	right: 0;
	left: 0;
	bottom: 0;
	line-height: 160%;
	height: auto;
}

#main_img{
	display: inline-block;
	width: 20%;
	height: auto;
}

#main_section_1{
	text-align: center;
	height: 70%;
}

	.main_title{
		position: absolute;
		text-align: center;
		margin: 0px auto;
		width: 100%;
		top: 250px;
		font-size: 400%;
		-webkit-text-stroke: 1px black;
	}

	.main_subtitle{
		font-size: 190%;
		position: absolute;
		text-align: center;
		top: 450px;
		width: 100%;
		margin: 0px auto;
		-webkit-text-stroke: 1px black;
	}

#main_text{
	display: inline-block;
	margin-right: 20px;
	width: 70%;
	height: auto;
}

#main_text h1{
	color: #0F0;
}

.center{
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

#timeline_container{
	height: 480px;
	background-color:#000;
	display: block;
	margin: 0px auto;
}

	#timeline_container h1{
		margin: -30px 0px -0px 0px;
		color: #0F0;
	}

#about_section{
	display: block;
	margin: 0px auto;
}

	#about_section h1{
		margin: -30px 0px -0px 0px;
		color: #0F0;
	}

#contact_section{
	height: 350px;
}

.table_border tr td{
	padding: 5px 10px 5px 10px;
	border: 1px solid #0F0;
}

table tr th{
	padding: 5px 10px 5px 10px;
	border: 1px solid #0F0;
}

table tr td{
	vertical-align: top;
}

.dataTable{
	padding: 10px 0px;
}

.dataTables_filter{
	float: right;
}

.separator{
	margin-bottom: 50px;
	border-top: 1px solid #0F0;
}

.chinese{
	font-size: 180%;
}

.text-center{
	text-align: center;
}

#logo{
	display: inline-block;
	width:242px;
	height:46px;
	color:rgba(0, 255, 64, 0.98);
	font-family:Tahoma, Geneva, sans-serif;
	box-sizing:border-box;
	position:relative;
	overflow:hidden;
	font-size:64px;
}

.element{
	position:absolute;
	display:block;
	margin:0;
	padding:0;
	white-space:nowrap;
}

.element p{
	line-height:1;
	margin:0;
	padding:0;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
}

#logo_1{
	font-size:40px;
	font-weight:600;
	color:#fff;
	top:1px;
	left:6px;
}

#logo_2{
	font-size:40px;
	font-weight:600;
	top:1px;
	left:80px;
}

#logo_3{
	font-weight:600;
	font-size:25px;
	color:rgba(152, 163, 155, 0.98);
	top:15px;
	left:176px;
}

.toggle-switch {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 4px;
  padding: 0;
  width: 38px;
  height: 38px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  background-color: #000;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.toggle-switch:focus {
  outline: none;
}

.toggle-switch:hover{
	background-color: #0F0;
}

	/* Middle Hamburger Menu Line */
	.toggle-switch span {
	  display: block;
	  position: absolute;
	  top: 17px;
	  left: 5px;
	  right: 5px;
	  height: 4px;
	  background: #FFF;
	}

	/* Top and Botton Menu Line */
	.toggle-switch span::before,
	.toggle-switch span::after {
	  position: absolute;
	  display: block;
	  left: 0;
	  width: 100%;
	  height: 4px;
	  background-color: #FFF;
	  content: "";
	}

	.toggle-switch span::before {
	  top: -10px;
	}

	.toggle-switch span::after {
	  bottom: -10px;
	}

.toggle-switch_rot span {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

/* active state, i.e. menu open */
.toggle-switch_rot.active {
	background-color: #0F0;
}

.toggle-switch_rot.active span {
	-webkit-transform: rotate(90deg);   /* Safari */
	-ms-transform: rotate(90deg); 		/* IE 9   */
    transform: rotate(90deg);
}


#slide-menu {
  background: #000;
  position: absolute;
  height: auto;
  width: 140px;
  z-index: 1000;
  top: 50px;
  right: -140px;
  /*transform: translate(150%, 0px);*/
  transition: all 0.3s ease-in-out;
}

#slide-menu ul {
  list-style: none;
  -webkit-padding-start: 0px;
}

#slide-menu ul li {
  transition: all 0.25s ease-in-out;
}

#slide-menu.active {
	right: 0px;
}